<section class="game">
  <div class="container">
    <ul class="game__card-list list">
      <li class="game__card-item">
        <img src="/src/images/game-1.png" alt="money" />
        <div class="game__card-text-container">
          <p class="game__card-title">Lil Rooster Money Clicker</p>
          <p class="game__card-desc">
            Lil Rooster is an incremental clicker idle game. In this browser
            clicker game...
          </p>
        </div>
        <div class="game__card-button-container">
          <button class="btn game__card-play-button">Play</button>
          <button class="btn game__card-chrome-button">Chrome web store</button>
        </div>
      </li>
      <li class="game__card-item">
        <img src="/src/images/game-2.png" alt="money" />
        <div class="game__card-text-container">
          <p class="game__card-title">PiggyBank Money Clicker</p>
          <p class="game__card-desc game__card-desc-fix">
            Piggy Money Clicker is an a funny incremental idle clicker game
          </p>
        </div>
        <div class="game__card-button-container">
          <button class="btn game__card-play-button">Play</button>
          <button class="btn game__card-chrome-button">
            Chrome web store
            <button class="btn game__card-btn">
              <svg width="10" height="10" class="game__card-btn-icon">
                <use href="/src/images/symbol-defs.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
