<header class="page-header">
  <div class="container">
    <a href="./index.html" class="logo__link link"
      ><img
        src="/src/images/logo.png"
        alt="logo"
        class="logo__img"
      />MoneyRain</a
    >
    <nav class="navigation">
      <ul class="nav-list list">
        <li class="nav-item">
          <a href="./index.html" class="nav-link link">Home</a>
        </li>
        <li class="nav-item">
          <a href="./games.html" class="nav-link link current">Games</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link link">Terms of use</a>
        </li>
        <li class="nav-item"><a href="" class="nav-link link">Contact</a></li>
        <li class="nav-item">
          <a href="" class="nav-link link"
            >Locales
            <svg width="10" height="10" class="header__link-icon">
              <use
                href="/src/images/symbol-defs.svg#icon-header_arrow"
              ></use></svg
          ></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
