<section class="share">
  <div class="container">
    <h2 class="share__title">Share us in social media</h2>
    <p class="share__desc">Best & free guide of responsive web design</p>
    <div class="hero__soc-container">
      <ul class="hero__soc-list list">
        <li class="hero__soc-item">
          <a href="" class="hero__soc-link"
            ><svg width="20" height="20" class="hero__link-icon">
              <use href="/src/images/symbol-defs.svg#icon-facebook"></use></svg
          ></a>
        </li>
        <li class="hero__soc-item">
          <a href="" class="hero__soc-link"
            ><svg width="20" height="20" class="hero__link-icon">
              <use href="/src/images/symbol-defs.svg#icon-twitter"></use></svg
          ></a>
        </li>
        <li class="hero__soc-item">
          <a href="" class="hero__soc-link"
            ><svg width="20" height="20" class="hero__link-icon">
              <use href="/src/images/symbol-defs.svg#icon-youtube"></use></svg
          ></a>
        </li>
        <li class="hero__soc-item">
          <a href="" class="hero__soc-link"
            ><svg width="20" height="20" class="hero__link-icon">
              <use href="/src/images/symbol-defs.svg#icon-pinterest"></use></svg
          ></a>
        </li>
      </ul>
    </div>
    <img src="/src/images/share.png" alt="cat" class="share__img-bg" />
  </div>
</section>
