.game {
  padding-bottom: 120px;
}
.game__card-list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.game__card-item {
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
  border-radius: 24px 24px 0px 0px;
  max-width: 570px;
}
.game__card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;

  text-align: center;
  margin-bottom: 20px;
}
.game__card-desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.16;
  text-align: center;
}
.game__card-text-container {
  padding: 26px 116px;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
}
.game__card-desc-fix {
  max-width: 286px;
}
.game__card-button-container {
  padding: 20px 67px;
  display: flex;
  align-items: center;
}
.game__card-play-button {
  margin-right: 20px;
  padding: 15px 35px;
  // border: none;
}
.game__card-chrome-button {
  padding: 15px 25px;
  padding-right: 45px;
  position: relative;
  border-radius: 0px;
  border-bottom-right-radius: 31px;
}
.game__card-btn {
  content: '';
  padding: 15.5px 19px;
  position: absolute;
  top: -2;
  right: -40;
  border: 2px solid #4d77e3;
  background: #4d77e3;
  border-radius: 0px 31px;
}
.game__card-btn-icon {
  display: flex;
  align-items: center;
  fill: #ffffff;
}
.game__card-btn:hover + .game__card-btn-icon {
  fill: #4d77e3;
}
// .game__card-btn ~ .game__card-chrome-button:hover {
//   fill: #4d77e3;
//   background-color: #ffffff;
// }
