@import './utils/reset';
@import './utils/mixins';
@import './utils/body';
@import './utils/container';
@import './utils/visually-hidden';
@import './utils/breakpoints';

@import './components/common';
@import './components/header';
@import './components/hero';
@import './components/extensions';
@import './components/review';
@import './components/question';
@import './components/footer';

@import './components/game/game';
