<section class="extensions">
  <div class="container">
    <h2 class="extensions__title">Our funny extensions:</h2>
    <ul class="extensions__card-list list">
      <li class="extensions__card-item">
        <img src="/src/images/extensions-1.png" alt="money" />
        <div class="extensions__card-text-container">
          <p class="extensions__card-title">Money Rain</p>
          <p class="extensions__card-desc">
            Cheer up and have some fun! Make it money rain in your browser. Rock
            it with 200 pictures or create your own rain from any images!
          </p>
        </div>
        <div class="extensions__card-button-container">
          <button class="btn extensions__card-button">Open game</button>
        </div>
      </li>
      <li class="extensions__card-item">
        <img src="/src/images/extensions-2.png" alt="money" />
        <div class="extensions__card-text-container">
          <p class="extensions__card-title">PiggyBank Money Clicker</p>
          <p class="extensions__card-desc extensions__card-desc-fix">
            Funny and highly addictive Piggybank idle cash clicker game! From a
            simple poor pig to a money rain maker!
          </p>
        </div>
        <div class="extensions__card-button-container">
          <button class="btn extensions__card-button">Open game</button>
        </div>
      </li>
      <li class="extensions__card-item">
        <img src="/src/images/extensions-3.png" alt="money" />
        <div class="extensions__card-text-container">
          <p class="extensions__card-title">Lil Rooster Money Clickern</p>
          <p class="extensions__card-desc">
            Fun clicker game about the hard path of Lil Rooster to big city
            lights! He needs your help to spread the word and earn big bucks!
          </p>
        </div>
        <div class="extensions__card-button-container">
          <button class="btn extensions__card-button">Open game</button>
          <!-- <div class="top left"></div>
          <div class="top right"></div>
          <div class="bottom left"></div>
          <div class="bottom right"></div> -->
        </div>
      </li>
    </ul>
  </div>
</section>
