<footer class="footer">
  <div class="container">
    <ul class="footer__soc-list list">
      <li class="footer__soc-item">
        <a href="" class="footer__soc-link link">
          <svg
            width="20"
            height="20"
            class="review__video-icon hero__link-icon"
          >
            <use href="/src/images/symbol-defs.svg#icon-facebook"></use></svg
        ></a>
      </li>
      <li class="footer__soc-item">
        <a href="" class="footer__soc-link link">
          <svg
            width="20"
            height="20"
            class="review__video-icon hero__link-icon"
          >
            <use href="/src/images/symbol-defs.svg#icon-twitter"></use></svg
        ></a>
      </li>
      <li class="footer__soc-item">
        <a href="" class="footer__soc-link link">
          <svg
            width="20"
            height="20"
            class="review__video-icon hero__link-icon"
          >
            <use href="/src/images/symbol-defs.svg#icon-youtube"></use></svg
        ></a>
      </li>
      <li class="footer__soc-item">
        <a href="" class="footer__soc-link link">
          <svg
            width="20"
            height="20"
            class="review__video-icon hero__link-icon"
          >
            <use href="/src/images/symbol-defs.svg#icon-google-plus"></use></svg
        ></a>
      </li>
      <li class="footer__soc-item">
        <a href="" class="footer__soc-link link">
          <svg
            width="20"
            height="20"
            class="review__video-icon hero__link-icon"
          >
            <use href="/src/images/symbol-defs.svg#icon-MR"></use></svg
        ></a>
      </li>
      <li class="footer__soc-item">
        <a href="" class="footer__soc-link link">
          <svg
            width="20"
            height="20"
            class="review__video-icon hero__link-icon"
          >
            <use href="/src/images/symbol-defs.svg#icon-pinterest"></use></svg
        ></a>
      </li>
    </ul>
    <p class="footer__copyright">
      © 2021 Copyright: Rain Money, Funny and addictive games!
    </p>
    <div class="footer__link-container">
      <a href="" class="footer__link">Privacy</a>
      <a href="" class="footer__link">Terms of use</a>
    </div>
  </div>
</footer>
