<section class="hero">
  <div class="container">
    <p class="hero__pre-desc">
      Lorem ipsum dolor sit amet, consectetur adipisci elit.
    </p>
    <h1 class="hero__title">Welcome to Money Rain</h1>
    <p class="hero__desc">
      Developing fun browser extensions and games for you to enjoy! Best & free
      guide of responsive web design
    </p>
    <button class="hero__btn btn">Read more</button>
    <div class="hero__soc-container">
      <ul class="hero__soc-list list">
        <li class="hero__soc-item">
          <a href="" class="hero__soc-link"
            ><svg width="20" height="20" class="hero__link-icon">
              <use href="/src/images/symbol-defs.svg#icon-facebook"></use></svg
          ></a>
        </li>
        <li class="hero__soc-item">
          <a href="" class="hero__soc-link"
            ><svg width="20" height="20" class="hero__link-icon">
              <use href="/src/images/symbol-defs.svg#icon-twitter"></use></svg
          ></a>
        </li>
        <li class="hero__soc-item">
          <a href="" class="hero__soc-link"
            ><svg width="20" height="20" class="hero__link-icon">
              <use href="/src/images/symbol-defs.svg#icon-youtube"></use></svg
          ></a>
        </li>
        <li class="hero__soc-item">
          <a href="" class="hero__soc-link"
            ><svg width="20" height="20" class="hero__link-icon">
              <use href="/src/images/symbol-defs.svg#icon-pinterest"></use></svg
          ></a>
        </li>
      </ul>
    </div>
    <img src="/src/images/hero.png" alt="cat" class="hero__img-bg" />
  </div>
</section>
