<section class="question">
  <div class="container">
    <img src="/src/images/question.png" alt="cat" />
    <div class="question__text-container">
      <h2 class="question__title">Have a question?</h2>
      <p class="question__desc">Best & free guide of responsive web design</p>
      <p class="question__text question__text-up">
        Whether you are looking for a browser extension just for laugh or an
        addictive game that is so easy to play, we are here to deliver that
        creative content to you right in your browser.
      </p>
      <p class="question__text question__text-bottom">
        We working hard to bring our best to life and to make you smile. Hope
        you will enjoy our products
      </p>
      <button class="question__btn btn">Read more</button>
    </div>
  </div>
</section>
