<section class="review">
  <div class="container">
    <div class="bg__blue">
      <img src="/src/images/video.jpg" alt="video" class="review__video" />
      <button class="review__video-btn" title="Watch Video" type="button">
        <svg width="126" height="126" class="review__video-icon">
          <use href="/src/images/symbol-defs.svg#icon-youtube_video"></use>
        </svg>
      </button>
      <!-- <iframe
        width="903"
        height="447"
        class="review__video"
        src="https://www.youtube.com/embed/1TPuf-xFmWI"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe> -->
    </div>
  </div>
</section>
