.page-header {
  padding: 27px 0px;
  background: #ffffff;
  box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.05);
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.logo__link {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;

  color: #3a4149;
}
.logo__img {
  margin-right: 11px;
}
.nav-list {
  display: flex;
  gap: 20px;
}
.nav-link {
  position: relative;
  padding: 20px 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  color: #000000;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: #5e86ed;
  cursor: auto;
  left: 0;
  top: 83px;
}
.heaader__link-icon {
  margin-left: 10px;
  // fill: #5e86ed;
}
.nav-link:hover,
.nav-link:focus {
  color: #5e86ed;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
