.review {
  padding-top: 120px;
}
.review__title {
  font-weight: 600;
  font-size: 50px;
  line-height: 1.16;

  text-align: center;
  margin-bottom: 60px;
}
.bg__blue {
  background: #5e86ed;
  border-radius: 20px;
  transform: rotate(-6.23deg);
  width: 903px;
  height: 447px;
  margin-left: auto;
  margin-right: auto;
}
.review__video {
  //   background: linear-gradient(
  //       0deg,
  //       rgba(241, 239, 255, 0.3),
  //       rgba(241, 239, 255, 0.3)
  //     ),
  //     url('/src/images/video.jpg');
  border-radius: 20px;
  transform: rotate(6.23deg);
  position: relative;
}
// .ytp-cued-thumbnail-overlay-image {
//   background: linear-gradient(
//       0deg,
//       rgba(241, 239, 255, 0.3),
//       rgba(241, 239, 255, 0.3)
//     ),
//     url('/src/images/video.jpg') !important;
// }
.review__video-btn {
  border: none;
  background: none;
  position: absolute;
  content: '';
  transform: rotate(6.23deg);
  display: flex;
  justify-content: center;
  top: 160px;
  right: 389px;
}
.review__video-icon {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review__video-icon:hover,
.review__video-icon:focus {
  transform: scale(1.05);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
